{% extends 'base/base.html' %} 

{% block title %} Вхід {% endblock %}

{% block content %}

    <div class='row justify-content-center'>
        <div class="col-12 col-md-6">
            <form action="" method='POST' class="bg-light rounded-3 p-5">
                {% csrf_token %}
                {% load widget_tweaks %}

                <h1 class="text-center text-primary">Вхід</h1>

                {% if form.errors %}
                    <div class="alert alert-dismissible alert-danger mt-3">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        Неправильне ім`я користувача або пароль
                    </div>
                {% endif %}
                

                <div class="form-group">
                    <label class='form-label mt-4' for="username">Ім`я користувача: </label>
                    {{ form.username | add_class:'form-control rounded-pill' }}
                </div>

                <div class="form-group">
                    <label class='form-label mt-4' for="username">Пароль: </label>
                    {{ form.password | add_class:'form-control rounded-pill' }}
                </div>

                <button type="submit" class="btn btn-primary rounded-pill my-4 w-100"> Увійти </button>


                <h4 class="text-success">Не маєте аккаунту ? </h4>
                <a href="/sign-up" class="btn btn-light fw-bold">Створити зараз</a>

                <h5 class="text-danger mt-3">Забули пароль ? </h5>
                <a target="_blank" href="{% url 'password_reset' %}" class="btn btn-light text-danger fw-bold">Відновлення паролю</a>
            </form>
        </div>
    </div>

{% endblock %}
